.todo-section {
  padding: 50px 20px;
  background-color: #eaeaea;

  &__heading {
    text-align: center;
  }
  &__row {
    gap: 10px;

    @include media-breakpoint-up(md) {
      gap: 0;
    }
  }

  &__column {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    height: 100%;
    padding: 20px 0;
  }
}
